In [ ]:
pi = 3.14159265359

In [ ]:
F1 = 3 * pi
F2 = 4 + pi
F3 = 8 - pi

In [ ]:
print(2+3)
print(2-3)
print(2*3)
print(2/3)

5
-1
6
0.6666666666666666

In [ ]:
print(12+3)
print(12-3)
print(12*3)
print(12/3)

15
9
36
4.0

In [ ]:
print(12+33)
print(12-33)
print(12*33)
print(12/33)

45
-21
396
0.36363636363636365

In [ ]:
print(5+3)
print(5-3)
print(5*3)
print(5/3)

8
2
15
1.6666666666666667

In [ ]:
def fun_name():
  # logic

In [ ]:
def angela():
  print('angela')
  print('raja')
  print('1')
  print('True')

In [ ]:
angela()

angela
raja
1
True

In [ ]:
def greet():
    print("Hello, welcome to Python Functions!")

In [ ]:
greet()

Hello, welcome to Python Functions!

âœ… Practice:

Create a function say_hello that prints your name.

In [5]:
def say_hello(name):
    print(f"Hello, {name}")

In [6]:
say_hello("Angela")

Hello, Angela

## **ðŸ“Œ Section 2: Parameters & Return Values**
ðŸ“š Concept:

Functions can take inputs (parameters) and produce outputs (return values).

ðŸ§© Example:

In [ ]:
def angela(a,b):
  print('angela')
  print(a+b)
  print(a-b)
  print(a/b)
  print(a*b)
  print(a**b)

In [ ]:
angela(10,2)

angela
12
8
5.0
20
100

In [ ]:
def angela(a,b):
  # print('angela')
  return(a+b)

In [ ]:
var = angela(1,2)

In [ ]:
var

3

In [ ]:
def add(a, b):
    return a + b

result = add(5, 3)
print(result)  # 8

8

âœ… Practice:

Write a function multiply(x, y) that returns the product.

In [7]:
def multiply(x, y):
    return x * y

result = multiply(2, 3)
print(result)

6

## ðŸ“Œ **Section 3: Positional vs Keyword Arguments**

ðŸ“š Concept:

Positional: Order matters

Keyword: Use param=value

ðŸ§© Example:

In [ ]:
def test(x,y):
  print('x=',x,'y=',y)

In [ ]:
test(2,3) # positional

x= 2 y= 3

In [ ]:
test(x=3,y=2) # keyword

x= 3 y= 2

In [ ]:
def test(x=1,y=0):
  print('x=',x,'y=',y)

In [ ]:
test(3,4)

x= 3 y= 4

In [ ]:
def introduce(name, age):
    print(f"My name is {name} and I am {age} years old.")

In [ ]:
# Positional
introduce("Alice", 25)

My name is Alice and I am 25 years old.

In [ ]:
# Keyword
introduce(age=25, name="Alice")

My name is Alice and I am 25 years old.

âœ… Practice:

Try calling your multiply function using keyword arguments.

In [11]:
def multiply(a, b):
    return a * b

In [12]:
result = multiply(a=4, b=5)
print(result)

20

## **ðŸ“Œ Section 4: Default Values**
ðŸ“š Concept:

You can set default values for parameters.

ðŸ§© Example:

In [ ]:
def greet(name="Guest"):
    print(f"Hello, {name}!")

In [ ]:
greet()

Hello, Guest!

In [ ]:
greet("Alice")

Hello, Alice!

In [ ]:
# Question for testing the Understand

In [ ]:
def sample(b,a=1): # function definition
  # print('sample','a',a,'b',b)
  return a, b

In [ ]:
sample(4,3) # function calling

(3, 4)

âœ… Practice:

Write a function power(x, y=2) that returns x to the power y.

In [18]:
def power(x, y=2):
    return x ** y

In [21]:
print(power(2)) # This is 2**2 (where x is 2, y is to the power of 2)

4

In [22]:
print(power(4))

16

In [25]:
print(power(x=3, y=4))

81

In [28]:
3*3*3*3

81

In [29]:
print(power(5,3)) # This is same as 5*5*5

125

## ðŸ“Œ **Section 5: *args and kwargs**

ðŸ“š Concept:

*args â€” for multiple positional arguments

**kwargs â€” for multiple keyword arguments


ðŸ§© Example:

In [ ]:
# *args

In [ ]:
def special_1(*val):
  print(val)

In [ ]:
# 1
# 2
# 3
# 4
# 5

In [ ]:
for i in (1,2,3,4,5):
  # print(i)
  special_1(i)

1
2
3
4
5

In [ ]:
special_1(1,2,3,4,5,'alice',2.2)

(1, 2, 3, 4, 5, 'alice', 2.2)

In [ ]:
def special_2(**kwargs):
    print(kwargs)

In [ ]:
special_2(name='Angela',Grade='A')

{'name': 'Angela', 'Grade': 'A'}

In [ ]:
def show_args(*args):
    print(args)

show_args(1, 2, 3)

(1, 2, 3)

In [ ]:
def show_kwargs(**kwargs):
    print(kwargs)

show_kwargs(name="Alice", age=25)

{'name': 'Alice', 'age': 25}

âœ… Practice:

Write a function sum_all(*numbers) that sums any number of numbers.

In [ ]:
def sum_all(*numbers):
   return sum(numbers)

In [ ]:
print(sum_all(1, 2, 3)) #This sum of 1+2+3 =6
print(sum_all(10, 20, 30, 40))  #This is sum of 10+20+30+40=100

6
100

## **ðŸ“Œ Section 6: Recursion**

ðŸ“š Concept:

A function that calls itself.

ðŸ§© Example: Factorial

In [ ]:
def factorial(n):
    if n == 0 or n == 1: # False or False
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
# factorial(5)
# value 5
# 1. else (5 * factorial(5 - 1))

In [ ]:
# factorial(5 - 1)
# value 4
# 2. else (4 * factorial(4 - 1))

In [ ]:
# factorial(4 - 1)
# value 3
# 3. else (3 * factorial(3 - 1))

In [ ]:
# factorial(3 - 1)
# value 2
# 4. else (2 * factorial(2 - 1))

In [ ]:
# factorial(2 - 1)
# value 1
# 1. if 1

In [ ]:
5 * 4 * 3 * 2 * 1

120

In [ ]:
factorial(5)

120

In [ ]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

print(factorial(5))  # 120

120

âœ… Practice:

Write a recursive function to calculate the sum of all numbers up to `n.`

In [ ]:
def recursive_sum(n):
    if n <= 1:
        return n
    else:
        return n + recursive_sum(n - 1)

In [ ]:
print(recursive_sum(5)) #recursive sum of 5 means 5+(5-1)+(4-1)+(3-1)+(2-1)+(1-1) = 5+4+3+2+1+0 = 15

15

## **ðŸ“Œ Section 7: Anonymous Functions (lambda)**

ðŸ“š Concept:

A small one-line function.

ðŸ§© Example:

In [ ]:
def add(a,b): # Normal Function
  print(a+b)

In [ ]:
add(2,3)

5

In [ ]:
add = lambda a,b : a+b

In [ ]:
add(2,3)

5

In [ ]:
# Lambda Function
square = lambda n:n*n

In [ ]:
square(11)

121

In [ ]:
double = lambda x: x * 2

print(double(4))  # 8

8

# **âœ… Practice:**

Write a lambda to calculate square of a number.

In [ ]:
square = lambda x: x ** 2

In [ ]:
print(square(4)) #This means 4 to the power of 2 (4*4)

16

In [ ]:
print(square(9))

81

## **ðŸ“Œ Section 8: map(), filter(), reduce()**

ðŸ“š Concept:

`map()`â€” Apply a function to all items

`filter()` â€” Filter items based on a condition

`reduce()` â€” Reduce to a single value (needs functools)

In [ ]:
# Map
numbers = [1, 2, 3, 4]

In [ ]:
numbers

[1, 2, 3, 4]

In [ ]:
squared = lambda x:x**2

In [ ]:
squared = map(lambda x:x**2,numbers)

In [ ]:
list(squared)

[1, 4, 9, 16]

In [ ]:
# map
numbers = [1, 2, 3, 4]
squared = list(map(lambda x: x**2, numbers))
print(squared)  # [1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
# filter
even = lambda x:x%2==0

In [ ]:
even(4)

True

In [ ]:
even = filter(lambda x:x%2==0, numbers)

In [ ]:
numbers

[1, 2, 3, 4]

In [ ]:
list(even)

[2, 4]

In [ ]:
# filter
even = list(filter(lambda x: x % 2 == 0, numbers))
print(even)  # [2, 4]

[2, 4]

In [ ]:
# reduce

sum = lambda x, y:x+y

In [ ]:
sum(2,3)

5

In [ ]:
numbers

[1, 2, 3, 4]

In [ ]:
from functools import reduce

In [ ]:
sum = reduce(lambda x, y:x+y, numbers)

In [ ]:
sum

10

In [ ]:
# reduce
from functools import reduce
sum = reduce(lambda x, y: x + y, numbers)
print(sum)  # 10

10

âœ… Practice:

- Use map to add 10 to each item in a list [1,2,3]


- Use filter to keep only odd numbers.

In [ ]:
numbers = [1, 2, 3]
add_10 = list(map(lambda x: x + 10, numbers))
print(add_10)

[11, 12, 13]

In [ ]:
odd_numbers = list(filter(lambda x: x % 2!= 0, numbers))
print(odd_numbers)

[1, 3]

## **âœ… Section 9: Practice**

ðŸ“ Tasks:

Write 5 custom functions:

- Convert Celsius to Fahrenheit.

- Check if a number is even or odd.

- Find maximum of 3 numbers.

- Count vowels in a string.

- Return reverse of a string.

# **Convert Celsius to Fahrenheit.**

In [ ]:
def celsius_to_fahrenheit(celsius):
    return (celsius * 9/5) + 32

In [ ]:
print(celsius_to_fahrenheit(0))

32.0

In [ ]:
print(celsius_to_fahrenheit(5))

41.0

# **Check if a number is even or odd.**

In [ ]:
def even_or_odd(number):
    return "Even" if number % 2 == 0 else "Odd"

In [ ]:
print(even_or_odd(27))

Odd

# **Find maximum of 3 numbers.**

In [ ]:
def max_of_three(a, b, c):
    return max(a, b, c)

In [ ]:
print(max_of_three(55, 10, 7))

55

# **Count vowels in a string.**

In [ ]:
def count_vowels(text):
    vowels = 'aeiouAEIOU'
    return sum(1 for char in text if char in vowels)

In [ ]:
print(count_vowels("Good evening Raja Sir"))

8

# **Return reverse of a string**

In [ ]:
def reverse_string(text):
    return text[::-1]

In [ ]:
print(reverse_string("moon_at noon"))

noon ta_noom

## **âœ… Section 10: Quiz**

ðŸ“ Quiz Questions:

- What is the difference between *args and **kwargs?

- What does lambda mean in Python?

- Write a lambda that returns True if number is positive.

# What is the difference between args and *kwargs?
# args are for multiple **positional** arguments, syntax used is *
# kwargs are for multiple **keyword** arguments, syntax used is **

In [ ]:
def example_function(*args, **kwargs):
    print("Positional:", args)
    print("Keyword:", kwargs)

example_function(1, 2, 3, "Alice", 30)

Positional: (1, 2, 3, 'Alice', 30)
Keyword: {}

In [ ]:
def example_function(*args, **kwargs):
    print("Positional:", args)
    print("Keyword:", kwargs)

example_function(1, 2, 3, name="Alice", age=30)

Positional: (1, 2, 3)
Keyword: {'name': 'Alice', 'age': 30}

# **What does lambda mean in Python?**
Lambda is used to create anonymous (unnamed) functions in a single line.

Syntax: lambda arguments: expression

In [ ]:
square = lambda x: x * x
print(square(3))

9

# **Write a lambda that returns True if number is positive.**

In [ ]:
is_positive = lambda x: x > 0

In [ ]:
print(is_positive(-5))

False

In [ ]:
print(is_positive(2))

True